* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.hidden {
  display: none !important;
}

#popup-wrapper {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 50;
  opacity: 0;
  transition: 0.1s;
  width: 30vw;
  height: 16vw;
  display: none;
  pointer-events: none;
}

.bar-wrapper {
  top: 47%;
  left: 49%;
  position: absolute;
  z-index: 50;
  opacity: 1;
  transition: 0.1s;
  width: 30vw;
  height: 16vw;
  pointer-events: none;
}

.collector__wrapper {
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 50;
}

.collector {
  max-width: 30vw;
  max-height: 25vh;
  display: flex;
  padding: 1vw;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
}

.food_item {
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.food_item__icon {
  width: 100%;
  height: auto;
}

.popup {
  display: flex;
  justify-content: space-around;
  width: 30vw;
  height: 16vw;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  position: absolute;
  top: -130%;
  left: -50%;
  pointer-events: auto;
}

.popup__item {
  max-width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.popup__item:hover {
  max-width: 33%;
}

.popup__image {
  width: 100%;
  height: auto;
}

#popup-wrapper.visible {
  display: flex;
  opacity: 1;
}

.item-counter {
  color: rgb(220, 218, 218);
  position: absolute;
  text-align: center;
  width: 2vw;
  height: 2vw;
  line-height: 2vw;
  background-color: rgba(69, 106, 50, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 100%;
  bottom: 0;
  left: 50%;
}

.resource-progress-bar {
  position: absolute;
  transform: rotate(-90deg);
  top: -410%;
  left: 30%;
  pointer-events: auto;
  height: 20px;
  width: 200px;
  background: white;
  border-radius: 25px;
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 32px blue;
}

.hunger-progress-bar {
  position: absolute;
  /* transform: rotate(-90deg); */
  top: -30%;
  left: -40%;
  pointer-events: auto;
  height: 20px;
  width: 200px;
  background: white;
  border-radius: 25px;
  border: 2px solid white;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 32px rgb(255, 0, 0);
}

.progress-fill {
  position: absolute;
  height: 90%;
  width: 0%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 63, 253, 1) 100%
  );
  border-radius: 15px;
  transition: 1s;
}

.progress-fill__hunger {
  position: absolute;
  height: 90%;
  width: 100%;
  background: rgb(195, 34, 66);
  background: linear-gradient(
    90deg,
    rgba(195, 34, 66, 1) 0%,
    rgb(253, 45, 45) 100%
  );
  border-radius: 15px;
  transition: 1s;
}
